<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button class="feedback" ion-button (click)="openFeedbackModal()">
        Feed<br>back
      </button>
    </ion-buttons>

    <ion-title>Data Log</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openHelpPage()">
        <ion-icon ios="ios-help-circle-outline" md="ios-help-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="fake-list">
    <data-log-item *ngFor="let dataLog of (dataLogs$ | async | sortBy:'createdAt':true)" [dataLog]="dataLog" [unit]="(temperatureUnit$ | async)" (onClick)="editDataLogItem($event)">
    </data-log-item>
  </div>

</ion-content>
