page-thermometer {

  [ion-fixed] {
    width: 100%;
  }

  // Top text
  h2#tempText {
    color: white;
    line-height: 35px;
    font-weight: 300;
    margin-bottom: 0;
  }

  // Thermometer
  .outer {
    background-image: radial-gradient(circle at 50% 0%, #6E6A68 0%, #3B3937 100%);
    box-shadow: 0 -2px 7px 0 rgba(0,0,0,0.30);
    width: 46vh;
    height: 46vh;
    margin: 4vh auto 0 auto;
    display: flex;
    border-radius: 50%;

    // Inner
    .inner {
      background-image: radial-gradient(circle at 50% 0%, #B4ACA7 0%, #474440 100%);
      box-shadow: 0 -2px 7px 0 rgba(0,0,0,0.30);
      width: 41vh;
      height: 41vh;
      border-radius: 50%;
      margin: 2.5vh;
      display: flex;
    }

    // Temperature
    .temperature {
      background-image: radial-gradient(circle at 50% 0%, #FDD269 0%, #FA9A0A 50%, #FA500A 100%);
      box-shadow: 0 2px 7px 0 rgba(0,0,0,0.30);
      width: 36vh;
      height: 36vh;
      display: flex;
      margin: 2.5vh;
      border-radius: 50%;

      // For blue
      &.blue {
        background-image: radial-gradient(circle at 50% 0, #B1E7FF 0%, #22A0DB 50%, #0048FF 100%);
      }

      // For Temperature Content
      .temp-content {
        width: 33vh;
        height: 33vh;
        margin: 3vh;
        color: white;

        // Actual Temperature
        // Default is two digits
        h1 {
          font-weight: 300;
          font-size: 70px;
          margin-top: 0;
          margin-bottom: 0;
          position: relative;

          ion-icon {
            font-size: 35px;
            vertical-align: 10px;

          }

          span {
            font-size: 30px;
            position: absolute;
            font-weight: 400;
            right: 6vh;
            top: 6vh;
          }

          // For One Digit
          &.one span {
            right: 9vh;
          }

          // For Three Digits
          &.three span {
            right: 4vh;
          }

        }

        // Type (F or C)
        h2.type {

        }

        // Humidity
        h2.humidity {
          margin-top: 0;
          font-size: 30px;
          font-weight: 400;

          ion-icon {
            font-size: 25px;
            vertical-align: 2px;
          }

        }
        // Temp and Humidity Labels
        p {
          letter-spacing: 2px;
          margin-top: 5px;
          margin-bottom: 3px;

          &:first-of-type {
            border-bottom: 1px solid white;
            padding-bottom: 5px;
          }

        }

        // Horizontal rule
        hr {
          background-color: white;
          color: white;
          height: 1px;
        }

      }
      // End Temp Content

    }
    // End Temperature

  }
  // End Thermometer

}
