<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button class="feedback" ion-button (click)="openFeedbackModal()">
        Feed<br>back
      </button>
    </ion-buttons>

    <ion-title id="title">Thermometer</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openHelpPage()">
        <ion-icon ios="ios-help-circle-outline" md="ios-help-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div ion-fixed>

    <!-- Text -->
    <h2 id="tempText" text-center *ngIf="lastReading$ | async as reading">
      Air Conditioning
      <br>
      blowing {{ reading.temperature < 16 ? 'is blowing efficiently' : 'needs servicing' }} air
    </h2>

    <!-- Outer -->
    <div class="outer">
      <div class="inner">

        <!-- Temperature -->
        <div class="temperature" [class.blue]="reading.temperature < 16" *ngIf="lastReading$ | async as reading">
          <div class="temp-content">

            <!-- NOTE: if one digit, add class "one" -->
            <!-- NOTE: if three digits, add class "three" -->
            <h1 text-center
              [class.one]="(reading.temperature | temperaturePreference | async | roundNumber).toString().length === 1"
              [class.three]="(reading.temperature | temperaturePreference | async | roundNumber).toString().length === 3"
              >
              <ion-icon name="thermometer"></ion-icon>
              {{ reading.temperature | temperaturePreference | async | roundNumber }}°
              <span>{{ temperatureUnit$ | async }}</span>
            </h1>

            <p text-center text-uppercase>Temperature</p>

            <p text-center text-uppercase>Humidity</p>

            <h2 class="humidity" text-center text-uppercase>
              <ion-icon name="water"></ion-icon>
              {{ reading.humidity | roundNumber }}%
            </h2>

          </div>
        </div>
        <!-- End Temperature -->

      </div>
    </div>
    <!-- End Outer -->

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ng-container *ngIf="lastReading$ | async as reading">
      <button [disabled]="!reading" ion-button full (click)="saveReading(reading)">Save</button>
    </ng-container>
  </ion-toolbar>
</ion-footer>
