page-login {

  // For Fake Footer
  [ion-fixed] {
    min-height: 100vh;
  }

  // Logo
  img {
    margin: 10vh auto;
    display: block;
  }

  // Facebook button
  button.button-facebook {
    background-color: color($colors, facebook);
    letter-spacing: 0;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
  }

  // Fake Footer Button
  button.footer {
    // position: absolute;
    left: initial;
    margin-top: 19vh !important;
    bottom: 10px;
  }

  p {
    color: color($colors, secondary);
  }

  // Form
  .list {
    @include dt-form;
  }

}
