page-register {

  // For Fake Footer
  [ion-fixed] {
    min-height: 100vh;
  }

  // Logo
  img {
    margin: 10vh auto;
    display: block;
  }

  .list {
    @include dt-form;
  }

  p {
    color: color($colors, secondary);

    &.terms {
      color: white;
      line-height: 20px;
      font-weight: 300;
    }

  }

  // Fake Footer Button
  button.footer {
    // position: absolute;
    left: initial;
    margin-top: 20vh !important;
    bottom: 10px;
  }

}
