<ion-content class="authentication">
  <div ion-fixed>

    <!-- Logo -->
    <img src="assets/logo.png" alt="digi thermo" width="75%;" id="logo">

    <!-- Or -->
    <p text-center text-uppercase id='heading'>
      Create an account
    </p>

    <!-- Register form -->
    <form class="register-form" [formGroup]="registerForm" (submit)="register()">
      <ion-list>
        <ion-item>
          <ion-label fixed>Email</ion-label>
          <ion-input type="email" required formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input type="password" required formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Confirm Password</ion-label>
          <ion-input type="password" required formControlName="confirmPassword"></ion-input>
        </ion-item>
      </ion-list>

      <!-- Login button -->
      <button type="submit" ion-button full [disabled]="disableRegisterButton$ | async">
        Register
      </button>

      <p text-center class="terms">
        By signing up you agree to digi thermo's<br>
        <a (click)="viewTerms()">Terms and Conditions</a>
      </p>

      <button class="footer" type="button" ion-button text-uppercase full (click)="goBack()">Go Back</button>
    </form>
    <!-- End form -->

  </div>
</ion-content>

<!--This button sticking on top of keyboard on android devices-->
<!-- Go Back -->
<!--<ion-footer>
  <ion-toolbar>
    <button ion-button text-uppercase full (click)="goBack()">Go Back</button>
  </ion-toolbar>
</ion-footer>-->
