page-forgot-password {

  // For Fake Footer
  [ion-fixed] {
    min-height: 100vh;
  }

  // Logo
  img {
    margin: 10vh auto;
    display: block;
  }


  .list {
    @include dt-form;
   }

   p {
     color: color($colors, secondary);
   }

   // Fake Footer Button
   button.footer {
    //  position: absolute;
     left: initial;
     margin-top: 43vh !important;
     bottom: 10px;
   }

}
