feedback-modal {

//text-area
 ion-textarea {
  width:90%;
  margin: 0 auto;
  display: block;
  height:150px;
  border: 1px color($colors, lightgray) solid;
  color: color($colors, lightgray);

  .text-input-ios {
    margin-left: 11px;
  }
 }
//end of text-area

.list {
  @include dt-radio;
}

// Rating Emojis
.rating {
  // float: right;
  // margin-right: 5%;
  // margin-top: -30px;
  width: 90%;
  margin: 0 auto;
  display: block;

  img {
    width: 10%;
    border-radius: 50%;
    margin-left: 11%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 1%;

    &:first-of-type {
      margin-left: 0;
    }

    &.active {
      border: 1px solid white;
    }
  }

}

 p {
   color: color($colors, secondary);
   border: none;
   margin: 40px 0 10px 5%;
 }

}
