<ion-header class="feedback">
  <ion-navbar>

    <ion-title>Feedback</ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewCtrl.dismiss()">
        Cancel
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<!--This Modal needs to be designed. Three pre-defined criteria & a free text field-->
<ion-content class="feedback-modal">

  <form [formGroup]="feedbackForm" (ngSubmit)="sendFeedback()">
    <!--this is a textarea for Rating Usablity-->
    <ion-list>
      <p class="feedback-label" text-uppercase>
        How easy is the app to navigate?
      </p>

      <!-- TODO: Rating Scale / ng-class "active" -->
      <div class="rating">
        <img (click)="setNavigationRating(1)" [class.active]="feedbackForm.controls['navigationRating'].value === 1" src="assets/emoji-worried.png" alt="worried emoji">
        <img (click)="setNavigationRating(2)" [class.active]="feedbackForm.controls['navigationRating'].value === 2" src="assets/emoji-frowny.png" alt="frowny emoji">
        <img (click)="setNavigationRating(3)" [class.active]="feedbackForm.controls['navigationRating'].value === 3" src="assets/emoji-neutral.png" alt="neutral emoji">
        <img (click)="setNavigationRating(4)" [class.active]="feedbackForm.controls['navigationRating'].value === 4" src="assets/emoji-smiley.png" alt="smiley emoji">
        <img (click)="setNavigationRating(5)" [class.active]="feedbackForm.controls['navigationRating'].value === 5" src="assets/emoji-hearteyes.png" alt="heart eyes emoji">
      </div>

      <ion-textarea formControlName="navigationComments" placeholder="Write feedback here…"></ion-textarea>
    </ion-list>
    <!--end of a textarea for Rating Usablity-->

    <!--this is a textarea for Rating Design-->
    <ion-list>
      <p class="feedback-label" text-uppercase>
        What features would you add?
      </p>

      <ion-textarea formControlName="featuresToAdd" placeholder="Write feedback here…"></ion-textarea>
    </ion-list>
    <!--end of a textarea for Rating Design-->

    <!--this is a textarea for Additional feedback-->
    <ion-list>
      <p class="feedback-label" text-uppercase>
        How can we improve?
      </p>

      <ion-textarea formControlName="tipsForImporovement" placeholder="Write feedback here…"></ion-textarea>
    </ion-list>
    <!--end of textarea for Additional feedback-->

    <!--Start of Save button-->
    <button full ion-button type="submit" [disabled]="disableFeedbackButton$ | async">
      Send
    </button>
    <!--end of Save button-->

    <!--Start of Cancel button-->
    <button full ion-button type="button" (click)="viewCtrl.dismiss()">
      Cancel
    </button>
    <!--end of Save button-->
  </form>

</ion-content>
