page-connect-sensor {

  img {
    margin: 0 auto;
    display: block;
    margin-top: 75px;
  }

  // Text
  h2 {
    font-size: 35px;
    font-weight: 300;
    max-width: 90%;
    margin-left: 5%;
    margin-top: 30px;
  }

  button.button-full {
    height: 65px;
    line-height: 20px;

    .button-inner {
      flex-flow: column;
    }

  }

  ion-spinner {
    margin: 25vh auto;
    display: block;
  }

  .spinner-bubbles circle {
    fill: #fff;
  }

  }
