page-settings {

  .list {
    margin-top: 10px;

    @include dt-radio;
    background-color: transparent;

    .item {
      background-color: transparent;
    }
  }

  .list-md {

    .item-radio:first-of-type {
      border-botom: 1px solid white;
    }

  }

}
