data-log-item {

  .item.item-block {
    background-image: radial-gradient(circle at 50% 0%, #FDD269 0%, #FA9A0A 50%, #FA500A 100%);
    background-size: 100%;
    border-bottom: 4px solid black;
    min-height: 100px;

    .item-inner {
      border-bottom: none;
    }

    // if cool
    &.blue {
      background-image: radial-gradient(circle at 50% 0%, #91D7F7 0%, #22A0DB 50%, #0048FF 100%);
      background-size: 100%;
    }

    // Temp
    .temp {
      width: 75px;
      height: 75px;
      // background-color: #FA500A;
      top: 12px;
      position: absolute;
      border: 1px solid white;
      border-radius: 50%;

      h1 {
        font-size: 36px;
        font-weight: 300;
        color: white;
        text-align: center;
        padding-top: 16px;
      }

      h4 {
        text-align: right;
        position: absolute;
        top: 36px;
        right: 12px;
        color: white;
      }

      // For three digits
      &.three-digi {

        h1 {
          font-size: 30px;
          padding-top: 18px;
        }

        h4 {
          top: 34px;
          right: 6px;
        }

      }

    }
    // End Temp

    // Content
    .content {
      margin-left: 90px;
      color: white;

      // Humidity
      h3 {
        font-size: 30px;

        ion-icon {
          vertical-align: 2px;
          font-size: 25px;
        }
      }

      // Paragraph tags
      p {
        color: white;
        font-weight: 300;
        line-height: 20px;

        // Title
        &.title {
          text-transform: uppercase;
        }

        // Time
        &.time {
          text-align: right;
          position: absolute;
          right: 10px;
          top: 35px;
        }
      }
    }
    // End Content

  }

}
